@import url(./components/home/Home.css);
@import url(./components/module/Module.css);
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}